.alert-box {
    color: #fff;
    background-color: aqua;
    padding: 20px;
    display: none;
}

.list-group{
    display: none;
}
.show{
    display: block;
}
.black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    padding: 30px;
    /* 애니메이션 줄 때 display: none;대용 */
    visibility: hidden;
    opacity: 0;
    /* 애니메이션 하려면 시작스타일에 transition줘야함 */
    /* 모든 css속성이 변할때 1초에 걸쳐서 변하게 해주세요 라는 뜻 */
    transition: all 1s;
}

.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
}
.show-modal{
    visibility: visible;
    opacity: 1;
}
.main-bg{
    padding:100px 20px;
    background: lightgray;
}
.dark{
    background-color: black;
    color:white;
}
.slide-container {
    width: 300vw;
    transition: all 1s;
    /* 2. 버튼2 누른 후 최종화면 만들기 (2step)
    요소를 왼쪽으로 이동시키고 싶을때 transform이나 margin-left를 사용  */
    /* transform: translateX(-100vw); */
    /* margin-left:-100vw; */
}

.slide-box {
    width: 100vw;
    float: left;
}

.slide-box img {
    width: 100%;
}